h1{
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  width:60%;
  margin: auto;
  margin-top: 10px;
}
.midcontent{
  width: 80%;
  margin: auto;
  border: 2px solid blue;
  height: 80vh;
}
.macId{
  display: flex;
  justify-content:flex-start;
  width:400px;
}
.macId label{
  width: 100px;
}
.formContent{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.spacer{
  height: 30px;
  width: 10px;
  background-color: red;
  visibility: hidden;
}